{% extends 'base.html' %}

{% block title %}
    Successfully Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Successfully Login</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
