{% extends 'base.html' %}

{% block title %}
    Profile Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Profile Details</h4>
                            <p>Full Name: {{ user.get_full_name }}</p>
                            <p>Username: {{ user.username }}</p>
                            <p>Email: {{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
