{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Create new account</h4>
                        </div>
                        <div class="login-form mt-4">
                            <form action="." method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-row">
                                    <button type="submit" class="btn btn-danger btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}