{% extends "base.html" %}

{% block title %}
    Password reset complete
{% endblock %}

{% block content %}
    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="messages text-center col-md-12">
                        <div class="container">
                            <h1>Password reset</h1>
                            <p>Your password has been set. You can
                                <a href="{% url "accounts:sign_in" %}">Login now</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}