{% extends 'base.html' %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Reset your password</h4>
                            <p>We've emailed you instructions for setting your password.</p>
                            <p>If you don't receive an email, please make sure you've
                                entered the address you registered with.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
