{% extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}

    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Please enter your new password:</h4>
                        </div>
                        <div class="form-row">
                            {% if validlink %}
                                <form action="." method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-danger btn-block mt-2">Change Password</button>
                                </form>
                            {% else %}
                                <h1>Password reset failed</h1>
                                <p>The password reset link was invalid, possibly because it
                                    has already been used. Please request a new password reset.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    $("#password").password('toggle');
</script>